html {margin: 20px; padding:20px;}

 

body {   font:65% Georgia, sans-serif;

              color: orange;

background: #fff (nbv.jpg)

}

 

p {          margin-top:0;

              text-align: justify;

}

h3 {

              font: italic normal 75% georgia, sans-serif;

              letter-spacing: 1px;

              margin-bottom: 0;

              color: bright blue;

              }